@import url('normalize.css');

/* LOGO TITLE ONLY */
@font-face {
    font-family: 'Sifonn Pro';
    src: url('fonts/sifonn-pro.otf');
    font-weight: normal;
    font-style: normal;
}

:root {
    --black: #000000;
    --darkgrey: #191919;
    --grey: #484848;
    --lightgrey: #dddddd;
}


body {
    background-color: var(--lightgrey);
    height: 98vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--darkgrey);
    font-family: "Sifonn Pro", monospace;
    text-transform: uppercase;
    font-size: 1.2rem;
}