

/* ///////// PROJECT SHEETS (ex. lighterfluid.co/projects/example) */

#project-sheet

.sheet-title, .sheet-record {
    width: 90%;
}

/* h1 */
.sheet-title {
    margin: 20px auto;
}

/* img */
.sheet-image {
    height: auto;
    margin-bottom: 30px;
    width: 100%;
}

/* developer & completed */
.sheet-record {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 40px;
}

.record-basics, .record-links {
    margin-bottom: 40px;
}

.record-basics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

    .record-basics :first-child {
        margin-right: 50px;
    }

.record-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}