


header {
    align-items: center;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    width: 100%;
}

.nav-link {
    line-height: 110%;
    margin-bottom: 30px;
    margin-left: 0;
}

.nav-link:hover {
    color: var(--white);
}

@media screen and (min-width: 768px) {

    header {
        padding: 25px 0;
    }
    
    #header {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-link {
        color: var(--grey);
    }
}


@media screen and (min-width: 2000px) {
    header {
        padding: 50px 0;
    }

    nav {
        width: 40%;
    }

    .nav-link {
        color: var(--grey);
        font-weight: 400;
    }

}