/* ============================== IMPORTS, VARIABLES, BODY */
/* ============================== IMPORTS, VARIABLES, BODY */

@import url('xxx.css');
@import url('normalize.css');

@font-face {
	font-family: 'GhostType';
	src: url('fonts/ghost_type/ghost-type.eot');
	src: url('fonts/ghost_type/ghost-type.eot?#iefix') format('embedded-opentype'),
             url('fonts/ghost_type/ghost-type.woff2') format('woff2'),
	     url('fonts/ghost_type/ghost-type.woff') format('woff'),
	     url('fonts/ghost_type/ghost-type.ttf') format('truetype'),
	     url('fonts/ghost_type/ghost-type.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root {
    --darkwhite: #e0e0e0;
    --mist: #d2d2d3;
    --rainclouds: #898d94;
    --foggybottom: #3f454e;
    --stormywaters: #2c3f57;
    --oceandark: #111925;
    --accentpink: #eb5757;
    --accentgold: #ffba00;
    --accentgreen: #35b883;
    --accentpurple: #460096;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
    margin: 0;
}

.marginalized {
    width: 90%;
    margin: 0 auto;
}

footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    padding: 10px 0;
    position: relative;
    width: 100%;
}



/* ============================== HEADER */
/* ============================== HEADER */

header {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 120px;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
}

header :first-child {
    position: relative;
    z-index: 100;
}

header :last-child {
    position: absolute;
    margin: 0;
    z-index: 101;
}

aside {
    margin: 0 auto 40px;
    width: 90%;
}




/* ============================== HOME */
/* ============================== HOME */

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.square-tile {
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.rectangle-tile {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5px;
    width: 100%;
}

.tile-cover {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.rectangle-tile > .tile-cover {
    position: relative;
    z-index: 200;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.tile-cover h4, .tile-cover p {
    color: var(--darkwhite);
}

.tile-cover > h4 {
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

#work .tile-cover {
    height: 100%;
    opacity: 0.93;
    width: 100%;
}


/* ============================== DEVELOPERS */
/* ============================== DEVELOPERS */

#developers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    text-overflow: clip;
}

#developers img {
    border-radius: 50%;
    height: 70px;
    margin-right: 15px;
    width: 70px;
}

.name-designation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.name-designation :last-child {
    margin-top: 3px;
}



/* ============================== SPECIFIC PROJECT */
/* ============================== SPECIFIC PROJECT */

#project-profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}



#project-profile .team :first-child {
    width: 50%;
}

#introduction {
    margin-bottom: 20px;
}

#introduction h2 {
    text-align: center;
    margin-bottom: 20px;
}

#introduction img {
    width: 100%;
}

.record-info {
    margin-bottom: 30px;
}

#project-profile > p {
    margin-bottom: 30px;
}



.sheet-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sheet-data div:first-of-type {
    width: 60%;
}

.sheet-data div:last-of-type {
    width: 30%;
}

.external-links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.project-img-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
}

.project-img-gallery img {
    margin: 0 2px;
    height: auto;
    width: 85%;
}

.team-leader {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.team-leader p {
    color: var(--white);
    margin: 0 5px 5px 0;
}

.team-leader img {
    height: 11px;
    width: 11px;
}

/* ============================== PROFILE */
/* ============================== PROFILE */

#dev-profile {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#headspace {
    margin-bottom: 20px;
}

#dev-profile .section {
    margin-bottom: 50px;
}

#dev-profile > p, #dev-profile .contacts {
    margin-bottom: 50px;
}

#headspace, #dev-profile .contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#headspace img {
    border-radius: 50%;
    height: 100px;
    margin-bottom: 15px;
    width: 100px;
}

#headspace h2 {
    margin-bottom: 5px;
}


#headspace p {
    font-weight: 600;
    margin-bottom: 5px;
}

#dev-profile p {
    font-size: 0.9rem;
    text-align: center;
}


/* DEV PROFILE SKILLS */

#skills ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

#skills li {
    border-radius: 3px;
    font-size: 0.7rem;
    font-weight: 500;
    list-style-type: none;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

#skills li:hover {
    background-color: var(--accentpink);
}

/* DEV PROFILE PROJECTS */

#projects > div {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#projects.section {
    margin-bottom: 0;
}

/* ============================== CONTACT */
/* ============================== CONTACT */

#contact {
    margin: 0 auto 80px;
}



#contact p, #contact h4 {
    color: var(--ocean50);
    text-align: center;
}

#contact h4:last-of-type {
    color: var(--ocean);
    margin-top: 5px;
}


@media screen and (min-width: 375px) {
    #profile .contacts {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .team {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 40px;
        width: 50%;
    }

    .team p {
        margin-bottom: 0;
        text-align: left;
        width: 100%;
    }
}

/* ============================== TEXT */
/* ============================== TEXT */

h1, h2, h5 {
    margin: 0 auto;
}

/* TITLE */
h1 {
    font-family: "GhostType", serif;
    font-size: 6.1rem;
    font-weight: 100;
    letter-spacing: 0.03rem;
}

/* PROFILE NAME */
h2 {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 100%;
}

/* PROFILE SECTION TITLE */
h3 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 100%;
}

    .section h3 {
        margin: 0 auto 15px;
        text-align: center;
        width: 70%;
    }
    
/* RECTANGLE TILE TITLE, PROFILE DESIGNATION */
h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

h6, p {
    font-size: 1rem;
    margin: 0;
}

/* HERO, RECTANGLE TILE DESIGNATION */
h6 {
    font-weight: 600;
}

    aside h6 {
        margin: 0 auto;
        text-align: center;
    }

p {
    font-weight: 500;
    line-height: 130%;
    margin: 0 auto;
    text-align: center;
}

    footer p {
        font-size: 0.625rem;
    }

a {
    display: inline-block;
    text-decoration: none;
}

.pseudolink {
    cursor: pointer;
}

/* ============================== FORMS & INPUTS */
/* ============================== FORMS & INPUTS */

form {
    width: 90%;
}

#registration form {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px auto 100px;
}

.sticker {
    align-items: center;
    background-color: var(--foggybottom);
    border-radius: 3px 0 0 3px;
    display: flex;
    flex-direction: row;
    height: 45px;
    justify-content: center;
    width: 40px;
}

.sticker img {
    filter: opacity(60%);
    height: 20px;
    width: 20px;
}

input::placeholder {
    opacity: 1
}

input {
    background-color: var(--foggybottom);
    border: none;
    border-radius: 0 3px 3px 0;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    height: 45px;
    outline: none;
    padding: 0 10px;
    width: 80%;
}

#registration input[type="submit"] {
    background-color: var(--hotcoralpink);
    border-radius: 3px;
    margin: 0 auto;
    width: 60px;
}

.input-row, .submit-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.input-row {
    margin: 0 auto 10px;
    width: 90%;
}

.input-row:last-of-type {
    margin-bottom: 0;
}

.submit-row {
    margin: 0 auto;
    width: 90%;
}

.submit-row .input-row input:last-of-type {
    margin-right: 10px;
}

/* ============================== COLORS & GRADIENTS */
/* ============================== COLORS & GRADIENTS */

.gradient_blue-green {
    background-image: linear-gradient(to bottom right, rgba(16, 90, 201, 0.788), rgba(22, 177, 74, 0.397));
}

.gradient_blue-red {
    background-image: linear-gradient(to bottom right, rgb(9, 95, 122, .72), rgb(255, 0, 0, .15));
}

.gradient_blue-yellow {
    background-image: linear-gradient(to bottom right, rgba(0, 36, 128, 0.589), rgba(250, 175, 83, 0.726));
}

.gradient_orange-teal-blue {
    background-image: linear-gradient(to bottom right, rgba(214, 50, 0, 0.438), rgba(37, 108, 132, 0.644), rgba(0, 76, 190, 0.555));
}

/* ============================== LIGHT V DARK */

.accentpink {
    color: var(--accentpink);
}

.accentpurple {
    color: var(--accentpurple);
}

.accentgreen {
    color: var(--accentgreen);
}

.accentgold {
    color: var(--accentgold);
}

.accentpurple-bg {
    background-color: var(--accentpurple);
}

.darkwhite {
    color: var(--darkwhite);
}

.mist {
    color: var(--mist);
}

.oceandark {
    color: var(--oceandark);
}

.oceandark-bg {
    background-color: var(--oceandark);
}

.rainclouds {
    color: var(--rainclouds);
}

.stormywaters {
    color: var(--stormywaters);
}

@media (prefers-color-scheme: light) {
    body {
        background-color: var(--darkwhite);
    }

    .generic-tile {
        background-color: var(--oceandark);
    }

    .headliner {
        color: var(--stormywaters);
    }

    .headliner-fade {
        color: var(--mist);
    }

    .hero {
        color: var(--oceandark);
    }

    .unimportant {
        color: var(--rainclouds);
    }
}


/* ============================== BUNDLED LINKS */
/* ============================== BUNDLED LINKS */



.team p {
    margin: 0;
    text-align: left;
}

#prof-contact {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

#prof-contact .team:first-of-type {
    margin-bottom: 30px;
}

#prof-contact .team {
    width: 45%;
}

.team {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}