/* ============================== IMPORTS, VARIABLES, BODY */
/* ============================== IMPORTS, VARIABLES, BODY */

@import url('normalize.css');
@import url('xxx.css');

@font-face {
	font-family: 'GhostType';
	src: url('fonts/ghost_type/ghost-type.eot');
	src: url('fonts/ghost_type/ghost-type.eot?#iefix') format('embedded-opentype'),
             url('fonts/ghost_type/ghost-type.woff2') format('woff2'),
	     url('fonts/ghost_type/ghost-type.woff') format('woff'),
	     url('fonts/ghost_type/ghost-type.ttf') format('truetype'),
	     url('fonts/ghost_type/ghost-type.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

:root {
    --basegrey: #e0e0e0;
    --deepocean: #111925;
    --deepocean50: #898d94;
}

body {
    background-color: var(--basegrey);
    margin: 0;
}

/* ============================== HEADER */
/* ============================== HEADER */

header {
    position: relative;
    z-index: -100;
}

/* ============================== TEXT */
/* ============================== TEXT */

h1 {
    color: var(--deepocean50);
    font-family: "GhostType", serif;
    font-size: 7.1875rem;
    font-weight: 300;
    margin: 0;
}