

.team-leader {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.team-leader p {
    color: var(--white);
    margin: 0 5px 5px 0;
}

.team-leader img {
    height: 20px;
    width: 20px;
}

@media screen and (min-width: 375px) {
    .team-leader {
        align-items: baseline;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .team-leader p {
        color: var(--white);
        margin: 0 5px 5px 0;
    }

    .team-leader img {
        height: 20px;
        width: 20px;
    }
}








.nav-drawer {
    background-color: var(--black);
    height: 100%;
    padding: 5px 30px;
}

.nav-on {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    padding-top: 40px;
    z-index: 9998;
    width: 100%;
}

.bg-blur {
    align-self: flex-end;
    background-color: rgba(0, 0, 0, 0.671);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    height: 100%;
}




.page-hero {
    padding: 10px 0;
}

.brand-statement {
    margin: 25px 5%;
    text-align: center;
}

.page-description {
    margin: 15px 0;
}

/* =========================== TILES */
/* =========================== TILES */





.punc {
    color: white;
}

.page-hero .punc, .nav-drawer .punc {
    color: var(--orange);
}




/* =========================== PROJECTS */
/* =========================== PROJECTS */

.project-cards {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}


/* =========================== SKILLS */
/* =========================== SKILLS */

.skills {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    width: 90%;
}

.skills-item {
    background-color: var(--white);
    border: none;
    border-radius: 3px;
    color: var(--black);
    font-size: 0.6rem;
    font-weight: 600;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px 7px;
}

.skills-item:first-of-type {
    margin: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}

.skills-item:hover {
    background-color: var(--orange);
}


/* =========================== PROFILES */
/* =========================== PROFILES */

.developer-grid {
    background-color: red;
    width: 90%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}


/* =========================== USER PROFILE */
/* =========================== USER PROFILE */

.user-profile {
    width: 100%;
}

.profile-cover {
    background-image: linear-gradient(to top, #000000, rgb(18, 18, 18, 0.12));
    position: relative;
    z-index: 100;
}

.profile-data {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    margin: 0 auto;
    position: relative;
    top: 200px;
    width: 90%;
    z-index: 150;
}

.data-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 50px;
}

.user-designation {
    color: var(--mint);
    font-size: 0.8rem;
    font-weight: 600;
}

.user-name {
    font-weight: 700;
    margin-bottom: 10px;
}


.user-contacts {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}



.iconic {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}

.iconic img {
    width: 20px;
    height: auto;
}

.partial {
    background-color: var(--mint);
    border-radius: 3px 0 0 3px;
}

.full {
    background-color: var(--white);
    border-radius: 3px;
}

.reach-out {
    background-color: white;
    border: none;
    border-radius: 0 3px 3px 0;
    font-size: 0.7rem;
    font-weight: 600;
    height: 30px;
    outline: none;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



/* ----------- EXPERIMENTAL INPUTS */
/* ----------- EXPERIMENTAL INPUTS */

/* .hidden {
    display: none;
}

.ghost-name {
    background-color: #00000000;
    border-radius: 0;
    color: var(--white);
    font-weight: 700;
    letter-spacing: -0.03rem;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}

.ghost-name::placeholder {
    opacity: 1
}
 */














.profile-4k {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    margin-left: 5%;
    margin-top: 100px;
    width: 90%;
}

.ui-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    width: 100%;
}

.uih-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.user-intro {
    width: 45%;
}

.uih-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-right: 30px;
}

.uihi-designation {
    font-size: 2.5rem;
    font-weight: 400;
}

.important {
    color: #2f80ed;
}

.unimportant {
    color: var(--grey);
}


.ui-summary {
    color: var(--white);
    margin-bottom: 100px;
    width: 95%;
}

.user-scroll {
    width: 50%;
}





.contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}







.contact-directs {
    display: flex;
    flex-direction: column;
}


.nav-ribbon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}





.skills-cloud {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    align-items: center;
    position: relative;
    width: 113%;
    right: 0px;
    overflow-x: scroll;
}

.active {
    color: var(--white);
}




/* ///////// PROJECT SHEETS (ex. lighterfluid.co/projects/example) */

#project-sheet

.sheet-title, .sheet-record {
    width: 90%;
}

/* h1 */
.sheet-title {
    margin: 20px auto;
}

/* img */
.sheet-image {
    height: auto;
    margin-bottom: 30px;
    width: 100%;
}

/* developer & completed */
.sheet-record {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 40px;
}

.record-basics, .record-links {
    margin-bottom: 40px;
}

.record-basics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

    .record-basics :first-child {
        margin-right: 50px;
    }

.record-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}